*{  /*resetar o navegador*/

    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;

}

html, body{ 

    font-family: Arial, Helvetica, sans-serif; /*fontes*/
    color: white; /*cor da fonte*/
    font-size: 62.5%;
    text-rendering: optimizeLegibility;

   
        
}


body{

    background-color: #e5e5f7;
    background-image: radial-gradient(#60646d 0.1em, #e5e5f7 0.1rem);
    background-size: 2rem 2rem;

}



nav{

    display: flex;
    flex-direction: row;


    padding-right: 100%;
    background-color: #283040;

    position: fixed;

    padding-left: 80rem;

}


#logo{

    width: 10rem;
    height: 10rem;

    margin-right: 15rem;

}

header{

    font-weight: bolder;

    display: flex;
    justify-content: center;

}


.menu{

    display: flex;
    align-items: center;

    list-style:none;
    float:left;
    font-size: 2.5rem;

    width: 100%;

}

.menu li{
    position:relative;
    float:left;
}

.menu li a{

    color: #F2F2F2; 
    text-decoration:none; 
    padding:0.5rem 1rem; 
    display:block;}


.menu li a:hover{

background: #405173;
color:#fff;

}


input{

    border-radius: 2rem;

}


.trend{

    width: 20rem;
    height: 30rem;

    display: inline;


    margin-left: 1.5rem;
    border-radius: 5%;

}

.trend:hover{


    -webkit-transform: scale(1.1);
    transform: scale(1.1);

    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));  


}

main{

    font-size: 2.5rem;
    font-weight: bolder;

    display: flex;
    justify-content: center;


    margin-top: 20rem;
    margin-bottom: 3rem;
    margin-left: 6rem;
    margin-right: 6rem;



}

#emalta{

    margin-bottom: 3rem;

}

.recomendados{

    font-size: 2.5rem;
    font-weight: bolder;
    margin-bottom: 3rem;
    margin-top: 9rem;
    background-color: #405173;

    display: flex;
    justify-content: center;
    align-items: center;

      width: 45rem;
      height: 7rem;




}

.recomendados, article{

    margin-left: 6rem;
    margin-right: 6rem;

}

.artigoimg{

    width: 15rem;
    height: 10rem;

    border-radius: 5%;

}

article{

    margin-bottom: 1rem;
    background-color: #405173;
    font-size: 3rem;

    border-radius: 3rem;


    display: flex;

}

p{

   text-align: justify;

    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;   


}

.artigos{

    font-weight: bold;
    font-size: 2.5rem;

}

.artigos:hover{

    color:#cdcdcd;
    
    }

.site-footer
{
      background-color:#405173;
      padding:2rem 0 2rem;
      font-size:1.5rem;
      color:#fffefe;

      margin-top: 3rem;
}

 
.site-footer h6
{
      color:#fff;
      font-size:3rem;
      margin-top:2rem;
}

h6{ margin-left: 2rem;}
    