*{  /*resetar o navegador*/

    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;

}

html, body{ 

    font-family: Arial, Helvetica, sans-serif; /*fontes*/
    color: white; /*cor da fonte*/
    font-size: 62.5%;
    text-rendering: optimizeLegibility;

   
        
}


body{

    background-color: #e5e5f7;
    background-image: radial-gradient(#60646d 0.5px, #e5e5f7 0.5px);
    background-size: 10px 10px;

}



nav{

    display: flex;
    flex-direction: row;


    padding-right: 100%;
    background-color: #283040;

    position: fixed;

    padding-left: 80rem;


}


#logo{

    width: 10rem;
    height: 10rem;

    margin-right: 15rem;

}

header{

    font-weight: bolder;

    display: flex;
    justify-content: center;

    margin-bottom: 20rem;


}


.menu{

    display: flex;
    align-items: center;

    list-style:none;
    float:left;
    font-size: 2.5rem;

    width: 100%;

}

.menu li{
    position:relative;
    float:left;
}

.menu li a{

    color: #F2F2F2; 
    text-decoration:none; 
    padding:0.5rem 1rem; 
    display:block;}


.menu li a:hover{

background: #405173;
color:#fff;

}

main{

    display: flex;
    justify-content: center;
    align-items: center;
  

}

div{

    background-color: #405173;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;

    border-radius: 5rem;


}

#titulo, #conteudo{

    display: flex;
    text-align: justify;
    justify-content: center;
    align-items: center;

}

#conteudo{

    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 2rem;

    padding-bottom: 6rem;

    font-size: 2rem;

}



.icon{

    background: url('../img/perfis/coverstar.png');
    background-repeat: no-repeat;

    margin-top: 5rem;
    margin-bottom: 3rem;

    border-radius: 5rem;

    background-position: center, center;
    padding: 7rem 27rem 7rem 27rem;

}



#titulo{

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 10rem;

}

